<div class="text-center">
    <div class="container">
        <div class="jumbotron">
            <h1>Finder - Die Filmsuche</h1>
            <p>Finden Sie Filme die zu Ihnen passen.</p>
        </div>
    </div>

    <button type="button" class="btn btn-primary">Action</button>
    <button type="button" class="btn btn-secondary">Horror</button>
    <button type="button" class="btn btn-success">Dokumentation</button>
    <button type="button" class="btn btn-danger">Sci-Fi</button>
    <button type="button" class="btn btn-warning">Humor</button>
</div>
