<div class="text-center">
    <div class="container">
        <div class="jumbotron">
            <h1>Finder - Die Filmsuche</h1>
            <p>Finden Sie Filme die zu Ihnen passen.</p>
        </div>
    </div>

    <a href="#!Finder" class="btn-lg btn-primary" role="button">Zur Filmsuche</a>
    <a href="#!Tinder" class="btn-lg btn-primary" role="button">Swipe it</a>
    <a href="#!Overview" class="btn-lg btn-primary" role="button">Overview</a>
    <a href="#!Login" class="btn-lg btn-primary" role="button">Login</a>
</div>