<div ng-if="showError == true" class="alert alert-danger" role="alert">
    Bitte überprüfen Sie Ihre Eingaben. Das E-Mail muss gültig sein und die eingebenen Passwörter müssen identisch sein.
</div>
<div ng-if="showUserError == true" class="alert alert-danger" role="alert">
    Ein Benutzer mit diesem Namen existiert schon!
</div>

<div class="alert alert-success" role="alert" ng-if="showSucess">
    <h4 class="alert-heading">Super!</h4>
    <p>Sie haben sich erfolgreich für Finder registriert.</p>
    <hr>
    <p class="mb-0"> Sie können sich jetzt <a href="#!Login">anmelden</a>.Suchen Sie sich doch einen Film in der <a href="#!Finder">Filmsuche.</a></p>
</div>

<div class="register-form" ng-if="showRegisterForm == true">
    <form method="post">
        <h2 class="text-center">Registrierung</h2>
        <div class="form-group">
            <input type="text" id="nutzer" class="form-control" placeholder="Nutzername" required="required" ng-model="user.userName">
        </div>
        <div class="form-group">
            <input type="text" id="vorname" class="form-control" placeholder="Vorname" required="required" ng-model="user.firstName">
        </div>
        <div class="form-group">
            <input type="text" id="nachname" class="form-control" placeholder="Nachname" required="required" ng-model="user.lastName">
        </div>
        <div class="form-group">
            <input type="text" id="email" class="form-control" placeholder="E-Mail" required="required" ng-model="user.eMail">
        </div>
        <div class="form-group">
            <input type="password" id="pw1" class="form-control" placeholder="Passwort" required="required" ng-model="user.password">
        </div>
        <div class="form-group">
            <input type="password" id="pw2" class="form-control" placeholder="Passwort wiederholen" required="required">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" id="registerButton" class="btn btn-primary btn-block" ng-click="SubmitUser()">Registrieren</button>
        </div>
    </form>
</div>