<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>

        body {
            font-family: 'Helvetica-Neue', 'HelveticaNeue', arial, sans-serif;
            color: #434343;
        }

        .tc-card-name {
            font-weight: normal;
        }

        #main {
            position: relative;
            width: 320px;
            height: 480px;
            left: 50%;
            margin-left: -160px;
        }
    </style>

</head>

<body>

<div id="main"></div>

</body>
</html>